<% var openScript = "width=500,height=500,top=300px,left=300px"; %>
<div class="col-md-8 blog-main">
  <% for(var i=0; i<posts.length; i++) { %>
  <div class="blog-post">
    <h2 class="blog-post-title"><a href="<%= posts[i].url %>"><%= posts[i].title %></a></h2>
    <p class="blog-post-meta">
      <%= posts[i].humanDate %> by <a href="https://twitter.com/thiagoricieri" target="_blank">Thiago</a>
      <% if (posts[i].app) { %>
        &bull;
        <a class="btn btn-outline-primary btn-sm" href="<%= posts[i].url %>/app" role="button">
          Open this post&rsquo;s app!
        </a>
      <% } %>
    </p>
    <%- posts[i].html %>

    <hr class="top-border" />
    <div class="text-center padding-four-top padding-four-bottom col-md-12 col-sm-12 col-xs-12 no-padding-lr">
      Share:
      <a class="btn social-icon social-icon-large button"
        href="https://linkedin.com/shareArticle?mini=true&url=<%= blogUrl %><%= posts[i].url %>&title=<%= posts[i].title %>"
        target="_blank" onclick="window.open(this.href,this.title,'<%= openScript %>'); return false;"
        rel="nofollow" title="<%= posts[i].title %>">LinkedIn</a>
      <a class="btn social-icon social-icon-large button"
        href="https://twitter.com/share?url=<%= blogUrl %><%= posts[i].url %>"
        onclick="window.open(this.href,this.title,'<%= openScript %>');  return false;"
        rel="nofollow"
        target="_blank"
        title="<%= posts[i].title %>">Twitter</a>
      <a class="btn social-icon social-icon-large button"
        href="http://www.facebook.com/sharer.php?u=<%= blogUrl %><%= posts[i].url %>"
        onclick="window.open(this.href, this.title,'<%= openScript %>'); return false;"
        rel="nofollow"
        target="_blank"
        title="<%= posts[i].title %>">Facebook</a>
      <a class="btn social-icon social-icon-large button"
        href="http://reddit.com/submit?url=<%= blogUrl %><%= posts[i].url %>&amp;title=<%= posts[i].title %>" onclick="window.open(this.href,this.title,'<%= openScript %>');  return false;" data-pin-custom="true">Reddit</a>
    </div>
    <hr />
  </div>
  <% } %>

  <nav class="blog-pagination">
    <a class="btn btn-outline<%= hasPrev ? '-primary': '-secondary disabled' %>"
      href="?page=<%= prevPage %>">Newer</a>
    <a class="btn btn-outline<%= hasNext ? '-primary ': '-secondary disabled' %>"
      href="?page=<%= nextPage %>">Older</a>
  </nav>
</div>
