<div class="col-md-8 blog-main">

  <% for(var i=0; i<posts.length; i++) { %>
  <div class="blog-post">
    <h2 class="blog-post-title"><a href="<%= posts[i].url %>"><%= posts[i].title %></a></h2>
    <p class="blog-post-meta"><%= posts[i].humanDate %> by <a href="https://twitter.com/thiagoricieri" target="_blank">Thiago</a></p>
    <%- posts[i].html %>

    <hr />
  </div>
  <% } %>

  <nav class="blog-pagination">
    <a class="btn btn-outline<%= hasNext ? '-primary': '-secondary disabled' %>"
      href="?page=<%= nextPage %>">Newer</a>
    <a class="btn btn-outline<%= hasPrev ? '-primary ': '-secondary disabled' %>"
      href="?page=<%= prevPage %>">Older</a>
  </nav>
</div>
