<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%= pageDescription %>">
    <meta name="keywords" content="<%= tags.join(', ') %>">
    <meta name="author" content="<%= pageAuthor %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@<%= twitterUser %>" />
    <meta name="twitter:creator" content="@<%= twitterUser %>" />

    <meta property="og:url" content="<%= blogUrl %>" />
    <meta property="og:type" content="<%= pageType %>" />
    <meta property="og:title" content="<%= pageTitle %>" />
    <meta property="og:description" content="<%= pageDescription %>" />
    <meta property="og:image" content="<%= pageImage %>" />

    <%- include includes/styles.ejs %>
    <%- include includes/analytics.ejs %>

    <title><%= title %></title>
  </head>
  <body>
    <%- include includes/header.ejs %>
    <main role="main" class="container">
      <div class="row">
        <%- body %>
        <%- include includes/aside.ejs %>
      </div>
    </main>
    <%- include includes/footer.ejs %>
    <%- include includes/scripts.ejs %>
  </body>
</html>
