<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include includes/styles.ejs %>
    <%- include includes/analytics.ejs %>

    <title><%= title %></title>
  </head>
  <body>
    <%- include includes/header.ejs %>
    <%- body %>
    <%- include includes/footer.ejs %>
    <%- include includes/scripts.ejs %>
  </body>
</html>
